body{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    margin-top: 1%;
}

.container div{
    width: 10%;
    height: 45%;
    background-color: yellow;
    font-size: 48px;
}

.container div:first-child{
    background-color: green;
}

.container div:last-child{
    background-color: green;
    flex-basis: 98.7%;
}

.container div:nth-child(8){
    flex-basis: 20%;
}